.heading {
  text-align: center;
}

.fields-container {
  border: solid 2px green;
}

.fields {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.submit-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.table-container {
  display: flex;
  justify-content: center;
  border: solid 2px red;
  padding-top: 50px;;
}

.table {
  display: flex;
  align-items: center;
}

.table-header {
  padding: 30px;
}